---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "addon/variables";
@import "addon/variables-hook";
@import "addon/module";
@import "addon/commons";
@import "addon/syntax";
@import "addon/light-scheme";
@import "addon/dark-scheme";
