---
layout: page
title: Archives
---

<div id="archives-wrapper">
  {% include lang.html %}
  {% include toc.html %}

  <!-- 자동 아카이브 출력 -->
  <div class="archives-list">
    {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}

    {% for year in posts_by_year %}
      <h2 class="year-heading">{{ year.name }}</h2>

      <ul class="archive-year-list">
        {% for post in year.items %}
          <li>
            <span class="date">{{ post.date | date: '%m/%d' }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
